<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--Search/NoneFound.htm-->
<html>
<head>
    <title>{Include title.inc}</title>
    <link rel="stylesheet" type="text/css" href="/kioskstyles.css"/>
    {Include scripts.inc}
</head>

<body class="clearfix">

{Include header.inc}
<div id="content">

<h1>No results found</h1>

<p>I'm sorry, there are no records in our database with the search criteria you entered.</p>

<span class="navtxt">&lt;&lt;<a href="javascript:history.go(-1);">Back</a></span>

</div>
{Include footer.inc}

</body>

</html>


