<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--default.htm-->
<html lang="en">

<head>
    <title>%{include title.inc}% - Home</title>
    %{Include head.inc}%
    %{Include scripts.inc}%
</head>

<body onload="setMenu('home');" class="clearfix">
    %{Include nav.inc}%

    <div id="head" class="container">
        <a name="main"></a>

        <h2>Welcome to the Gallery Systems EmbARK Web Kiosk Demo Site</h2>

        <p class="lead">
            EmbARK Web Kiosk is a web interface for the <a href="https://www.gallerysystems.com/products-and-services/embark/" target="_blank">EmbARK</a> databases. Use Web Kiosk to make selected data from your internal database available to a broad public via the
            Internet. You can also set up Web Kiosk as an intranet, allowing staff to access information using any web browser. Web Kiosk can be customized so it matches the look of your internet site and other graphic materials.
        </p>

        <p>
            The new EmbARK Web Kiosk 10 is a responsive web application (for better display on mobile devices.)
        </p>

        <p>
            Please use the menu items above to begin browsing the collection. This site features images from the Joe Price Shin'enKan Collection.
        </p>

        <p>
            Would you like to increase hits to your collection? If your collection is published with
            <a href="https://www.gallerysystems.com/web-kiosk/" target=_blank>Web Kiosk</a>, you can easily participate in
            <a href="http://www.emuseum.net" target=_blank>eMuseum Network</a>!
        </p>


    </div>

    %{Include footer.inc}%
</body>

</html>
