<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--Acquisitions/Info.htm-->
<html lang="en">

<head>
    <title>%{Include title.inc}% - {[Acquisition]Acq_Name}%</title>
    %{Include head.inc}%
    %{Include scripts.inc}%
</head>

<body class="clearfix">
    %{Include nav.inc}%

    <div class="container">
        <h1>
            <!--#4Dtext [Acquisition]Acq_Name-->
        </h1>

        <div class="row">
            <div class="col col-sm col-md-5 col-lg-4 col-xl-4 mr-auto">
                <form id='popup' name='popup' method='get' action='%{Link;Acquisition;info;0;query=Current Selection;records=1}%'  style="text-align:center;">
                    <input type='hidden' name='query' id='query' value='%{Current Selection}%' />
                    <select class="form-control" name='page' id='page' title='page' onchange='document.forms["popup"].submit()'>
                        <!--#4DEVAL (gsFunc_SetSelectedRecord(->[Acquisition]; 1))-->  <!-- loads the first record -->
                        <!--#4dloop [Acquisition]-->
                            <option value='<!--#4Dtext Selected Record number([Acquisition])-->' <!--#4Dif (lFirstRec = Selected Record number([Acquisition])) --> selected='selected' <!--#4Dendif-->>
                                <!--#4Dtext [Acquisition]acq_Name-->
                            </option>
                            <!--#4dendloop -->
                    </select>
                </form>
            </div>

            <!--#4DEVAL (gsFunc_EnsureCurRecordisLoaded (->[Acquisition]))-->  <!-- reloads the record -->

            <div class="col col-sm col-md-4 col-lg-4 col-xl-4"> <!-- display options -->
                <div class="display-options" style="display:inline;">
                    <div claass="navtxt">
                        <a class="btn btn-default" href="%{Link;Acquisition;list;0;first=Current Record;query=Current Selection;records=25}%" aria-label="Go to Acquisition List view">
                            <i class="fa fa-th-list"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        %{Include pagenavigation.inc}%
    </div>

    <hr/>

    <div class="container">
        <a name="main"></a>

        <div class="text-right">
            <a class="btn btn-default" onclick="window.print();return false;" href="#">
                <i class="fa fa-print"></i> Print this page
            </a>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">

                <!--#4DEVAL gsFunc_LoadChildRecords (->[Acquisition]; ->[Surrogates]) -->
                <!--#4DEVAL gsFunc_SpecialFieldSubQuery (->[Surrogates]IsPrimary; "true") -->
                <!--#4Dif (Records in selection([Surrogates]) > 0)-->
                    <!--#4DLOOP [Surrogates]-->
                        <a class="item highslide" href="<!--#4Dvar gsFunc_GetImage (->[Surrogates];"Image URL")-->" onclick="return hs.expand(this, hs.__.paramGallery);">
                            <img src="<!--#4Dvar gsFunc_GetImage (->[Surrogates];"Preview Url")-->"
                                 height="<!--#4Dvar gsFunc_GetImage (->[Surrogates];"Proportional Height max 300")-->"
                                 width="<!--#4Dvar gsFunc_GetImage (->[Surrogates];"Proportional Width max 300")-->"
                                 alt="Image: Cover image for <!--#4Dtext [Acquisition]Acq_name-->" />
                            <br>
                        </a>
                    <!--#4DENDLOOP-->
                <!--#4Delse-->
                    <p>
                        <em>This acquisition does not have an image.</em>
                    </p>
                <!--#4Dendif-->

                %{SKIP START}%
                    %{if ([Surrogates])}%
                        %{Start Loop([Surrogates]isprimary=="yes"}%
                            <div class="objsur-record-box">
                                <div>
                                    <a class="item highslide" href="%{Image Path}%" onclick="return hs.expand(this, hs.__.paramGallery);">
                                        <img src="%{preview}%" height="%{thumbnail height*2.3}%" width="%{thumbnail width*2.3}%" alt="Image: Cover image for %{[Acquisition]Acq_name}%" />
                                        <br>
                                    </a>
                                </div>
                                <br>
                                <br>
                            </div>
                        %{End Loop}%
                    %{end if}%
                %{SKIP END}%
            </div>

            <div class="col-lg-8 col-md-6 col-sm-12">
                <strong><!--#4Dtext [Acquisition]acq_type--></strong><br />
                <!--#4Dtext [Acquisition]acq_status--><br />
                <!--#4Dif ([Acquisition]acq_date # !0000-00-00!)-->
                    <!--#4Dtext [Acquisition]acq_date--> <br />
                <!--#4Dendif-->
                <!--#4Dif ([Acquisition]user_def_10 # "")-->
                    <!--#4Dtext [Acquisition]user_def_10--> <br />
                <!--#4Dendif-->
                <!--#4Dif ([Acquisition]acquis_price # 0)-->
                    <!--#4Dtext [Acquisition]acquis_price--> <br />
                <!--#4Dendif-->
                <!--#4Dif ([Acquisition]return_meth # "")-->
                    <!--#4Dtext [Acquisition]return_meth--> <br />
                <!--#4Dendif-->
                <!--#4Dif ([Acquisition]Acq_Agen # 0)-->
                    Acquisition Agent: <!--#4Dtext gsFunc_GetAgentName([Acquisition]Acq_Agen; ->[Agents]Institution)-->
                <!--#4Dendif-->
            </div>
            <!-- data layout table end -->
        </div>

        <!--#4DEVAL gsFunc_LoadChildRecords (->[Acquisition]; ->[Objects_1])-->
        <!--#4Dif (Records in Selection([Objects_1]) > 0)-->
            <br />
            <br />
            <div>
                <div class="lead p-1 border-bottom bg-light">
                    Acquisition Objects
                    <div class="float-right">
                        <em class="small">
                            <a href="%{Link;Objects_1;portfolio;0;records=24;query=Acquisition=_ID}%" aria-label="Browse objects linked to this exhibition in a new window">
                                Browse as a List &nbsp;
                            </a>
                        </em>
                    </div>
                </div>

                <div class="row galleryGrid">
                    <!--#4DLOOP [Objects_1]-->
                        <div class="col">
                            <div class="card hoverOutline" style="width:128px; margin-bottom:10px;">
                                <div class="card-img-top text-center" style="max-width:128px;max-height:128px;">
                                    <a href="<!--4Dtext gsFunc_Link("Objects_1;info;[Objects_1]_objects_1_id")-->">
                                        <!--#4Dif (gsFunc_HasImage(->[Objects_1]))-->
                                            <img src="<!--#4Dvar gsFunc_GetImage (->[Objects_1];"Thumbnail Url")-->"
                                                 class="rounded"
                                                 height="<!--#4Dvar gsFunc_GetImage (->[Objects_1];"Proportional Height max 128")-->"
                                                 width="<!--#4Dvar gsFunc_GetImage (->[Objects_1];"Proportional Width max 128")-->"
                                                 alt="Image of <!--#4Dtext [Objects_1]Disp_Title-->" />
                                         <!--#4Delse-->
                                            <img src="/graphics/DefaultThumbnail.gif"
                                                 alt="Thumbnail for missing image of <!--#4Dtext [Objects_1]Disp_Access_No-->" />
                                         <!--#4Dendif-->
                                    </a>
                                </div>
                                <div class="border-top text-center px-2">
                                    <p class="card-text">
                                        <a class="noColor" href="<!--4Dtext gsFunc_Link("Objects_1;info;[Objects_1]_objects_1_id")-->">
                                            <!--#4Dtext [Objects_1]Disp_Title-->
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    <!--#4DENDLOOP-->
                </div>
            </div>
        <!--#4Dendif-->

        <!--#4DEVAL gsFunc_LoadChildRecords (->[Acquisition]; ->[Surrogates]) -->
        <!--#4DEVAL gsFunc_SpecialFieldSubQuery (->[Surrogates]IsPrimary; "false") -->
        <!--#4Dif (Records in selection([Surrogates]) > 0)-->
            <br />
            <br />
            <div>
                <div class="lead p-1 border-bottom bg-light">
                    Acquisition Images
                </div>

                <div class="row galleryGrid">
                    <!--#4DLOOP [Surrogates]-->
                        <div class="col">
                            <div class="card hoverOutline" style="width:128px; margin-bottom:10px;">
                                <div class="border-top text-center px-2">
                                    <a class="item highslide" href="return hs.expand(this, hs.__.paramGallery)">
                                        <img src="<!--#4Dvar gsFunc_GetImage (->[Surrogates];"Thumbnail Url")-->"
                                             height="<!--#4Dvar gsFunc_GetImage (->[Surrogates];"Proportional Height max 128")-->"
                                             width="<!--#4Dvar gsFunc_GetImage (->[Surrogates];"Proportional Width max 128")-->"
                                             alt="Image: <!--#4Dtext [Surrogates]View_1-->" />
                                        <!--#4Dtext [Surrogates]View_1-->
                                    </a>
                                </div>
                            </div>
                        </div>
                    <!--#4DENDLOOP-->
                </div>
            </div>
        <!--#4Dendif-->

        <!--#4DEVAL gsFunc_LoadChildRecords (->[Acquisition]; ->[Artist_Maker]) -->
        <!--#4Dif (Records in selection([Artist_Maker]) > 0)-->
            <br />
            <br />
            <div id="artist" class="container-fluid">
                <div class="lead p-1 border-bottom bg-light">
                    Artists
                    <div class="float-right">
                        <em class="small">
                            <a href="%{Link;Artist_Maker;list;0;records=25;query=[Acquisition]_ID=_ID}%" aria-label="Browse objects linked to this exhibition in a new window">
                                Browse as a List &nbsp;
                            </a>
                        </em>
                    </div>
                </div>
                <ul class="ml-5">
                    <!--#4DLOOP [Artist_Maker]-->
                    <li>
                        <a href="<!--4Dtext gsFunc_Link("Artist_Maker;info;[Artist_Maker]_Artist_ID")-->">
                            <!--#4Dtext [Artist_Maker]Display_Name-->
                        </a>
                        <!--#4Dif  ([Artist_Maker]Disp_Maker_Life # "") & ([Artist_Maker]Disp_Maker_Life # "()")-->
                            <small class="text-muted">
                                <!--#4Dtext [Artist_Maker]Disp_Maker_Life-->
                            </small>
                        <!--#4Dendif-->
                    </li>
                    <!--#4DENDLOOP-->
                </ul>
            </div>
        <!--#4Dendif-->

        %{Include selectiondescription.inc}%
    </div>

    %{Include footer.inc}%
</body>

</html>
