<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--Custom/SampleForm.htm-->
<html>
<head>
    <title>{Include title.inc}</title>
    <link rel="stylesheet" type="text/css" href="/kioskstyles.css"/>
    {Include scripts.inc}
</head>

<body class="clearfix">

{Include header.inc}
<div id="content">
<h1>Submit Feedback</h1>

<span class="navtxt">&lt;&lt;<a href="javascript:history.go(-1);">Back</a></span>

<p>Please fill out the form below to send our curator your comments about this object. Comments are gathered for periodic review; please do not expect an immediate personal response.</p>

<table cellpadding="0" cellspacing="0">
    <tr>
        <td valign="top" align="middle">
            <img src="{thumbnail}" width="{thumbnail width}" height="{thumbnail height}" alt=""/><br>
            <b>{[Objects_1]Disp_Maker_1}</b><br/>
            <i>{[Objects_1]Disp_Title}</i><br/>
            {[Objects_1]Disp_Medium}<br/>
            {[Objects_1]Disp_Dimen}
        </td>

        <td width="20"> </td>

        <td valign="top" align="left">
            <form action="4DACTION/HANDLECGI/SUBMITFILE">
            <input type="hidden" name="sid" value="{SessionID}"/>

            <input type="hidden" name="label1" value="Accession Number"/>
            <input type="hidden" name="input1" value="{[Objects_1]Disp_Access_No}"/>

            <input type="hidden" name="label2" value="Title"/>
            <input type="hidden" name="input2" value="{[Objects_1]Disp_Title}"/>

            <input type="hidden" name="label3" value="Primary Artist"/>
            <input type="hidden" name="input3" value="{[Objects_1]Disp_Maker_1}"/>

            <table cellpadding="0" cellspacing="0">

                <tr>
                    <td valign="top" align="right">Your name:</td>
                    <td valign="top" align="left"><input type="text" size="25" name="Input4"/>
                    <input type="hidden" name="Label4" value="Name"/></td>
                </tr>
                <tr>
                    <td valign="top" align="right">Email address:</td>
                    <td valign="top" align="left"><input type="text" size="25" name="Input5"/>
                    <input type="hidden" name="Label5" value="Email"/></td>
                </tr>
                <tr>
                    <td valign="top" align="right">Feedback:</td>
                    <td valign="top" align="left"><textarea name="Input6" cols="20" rows="7"></textarea>
                    <input type="hidden" name="Label6" value="Feedback"/></td>
                </tr>
            </table>

            <input type="hidden" name="numInputs" value="6"/>
            <input type="hidden" name="SubmitDone" value="{Object Info}"/>
<br><br>
            <input type="submit" value="Submit my feedback"/>
            </form>
        </td>
    </tr>
</table>

</div>
{Include footer.inc}

</body>
</html>
