<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--Kiosk/help.htm-->
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>%{include title.inc}% - Help</title>
    %{Include head.inc}%
    %{Include scripts.inc}%
</head>

<body class="clearfix">
    %{Include nav.inc}%

    <div id="head" class="container">
        <a name="main"></a>
        
    <div class="right">
        <a href="javascript:window.close();">Close this Window</a>
    </div>
    
        <h1>Help</h1>

        <p class="lead">

    EmbARK Web Kiosk is designed to let you find information in several different ways. Each feature of the Web Kiosk can be accessed through the menu bar on the left side of the screen.

    <br>
    <br>
<span class="smalltxt">
    <a href="#home">Home</a><br>
    <a href="#browse">Browse</a><br></span>
    <p style="margin-left:3%; margin-right:10%;"><span class="smalltxt">
    		<a href="#collections">Collections</a><br>
      		<a href="#portfolios">Portfolios</a><br>
    		<a href="#exhibitions">Exhibitions</a><br>
    		<a href="#publications">Publications</a><br>
    		<a href="#acquisitions">Acquisitions</a>	<br>
    		<a href="#artists">Artists</a><br>
    		<a href="#geography">Geography</a>	</span></p>
 <span class="smalltxt">   <a href="#Search">Search</a> <br>
    <a href="#Filtering">Filtering</a> <br>
    <a href="#Images">Viewing Images</a> <br>    
    <a href="#Multiple">Multiple Record Display</a> <br>
    <a href="#Single">Single Record Display</a>
</span>
    <br>
    <br>
    <hr>
	
	<img src="/graphics/Help/menu.png" align="right" alt="Top Menu">
	
    <br>
    <br>

    <hr>
    <a name="home"></a>

    <strong>Home</strong>
    <br>
    <br>
    The Home button on the top menu bar will return you to the introductory page of the Kiosk. If you are viewing the Kiosk on a mobile device, the menus will resize to display appropriately.

    <hr>

    <a name="browse"></a>
    <strong>Browse...</strong>
    <br>

    <img src="/graphics/Help/browse.png" width="100" align="right" alt="Browse Menu">

    <br>
    The "Browse" menu provides a drop-down of available options to browse content available on the site. If no content is available for a particular type, that option will not display.
    
    <br>
    <br>

    <a name="collections"></a>
    <strong>Collections</strong>
    <br>
    <br>
    <img src="/graphics/Help/collections.png" width="600" alt="Collections">
    <br>
    <br>
    The "Collections" section displays a curated introduction to the collection. Click through the categories presented on the screen. The categories allow information to be organized hierarchically and guides the user more directly to desired information. Selecting a category will lead to one of three options:
    <br><br>
    <p style="margin-left:3%; margin-right:10%;">
        1. A sub-category<br>
        2. A group of records organized into a <a href="#portfolios">portfolio</a><br>
        3. A block of descriptive text about a topic<br>
    </p>
    While navigating within the hierarchical categories, the user may return to the top category by clicking the "<u>Back to Collections</u>" text link.
	<br>
	<br>
    <a name="portfolios"></a>
    <strong>Portfolios</strong>
    <br>
    <br>
    <img src="/graphics/Help/portfolios.png" width="600"  alt="Portfolios">
    
    <br>
    <br>
    
    The "Portfolios" section provides access to object records that have been pre-saved as groups. A portfolio may be opened by clicking it on-screen.  If more than one page of portfolios is available, page navigation buttons for <b>First/Previous/Next/Last</b> will activate.  Alternatively, select from the pop-up list to see all available portfolios in one list.
    
    <br>
    <br>

	The contents of the portfolio may be displayed in <a href="#Multiple">multiple views</a> and the results may also be narrowed with <a href="#Filtering">filtering</a>.
    <hr>

    <a name="exhibitions"></a>
    <strong>Exhibitions</strong>
    <br>
    <br>
    <img src="/graphics/Help/exhibitions.png" width="600" alt="Exhibitions">
    
    <br>
    <br>
    
    The "Exhibitions" section provides access to exhibitions-related content. An exhibition may be opened by clicking it on-screen.  If more than one page of exhibition is available, page navigation buttons for <b>First/Previous/Next/Last</b> will activate.  Alternatively, select from the pop-up list to see all available exhibitions in one list.

    <br>
    <br>
    
    Once an exhibition record is open, the detail page displays information about the exhibition itself, a list of all the objects in the exhibition, and a list of all the artists related to the exhibition.  If there are Exhibition images (such as gallery shots) available, they will also show on this page.
    
    <br>
    <br>
    
    <a name="publications"></a>
    <strong>Publications</strong>
    <br>
    <br>
    <img src="/graphics/Help/publications.png" width="600" alt="Publications">
    
    <br>
    <br>
    The "Publications" section provides access to bibliographic-related content. An publication may be opened by clicking it on-screen.  If more than one page of publication  is available, page navigation buttons for <b>First/Previous/Next/Last</b> will activate.  Alternatively, select from the pop-up list to see all available publications in one list.

    <br>
    <br>
    
    Once a publication record is open, the detail page displays information about the publication itself, a list of all the objects related to the publication, and a list of all the artists related to the publication.  If there are Publication images (such as a picture of the cover) available, they will also show on this page.
    
    <br>
    <br>
    
    <a name="acquisitions"></a>
    <strong>Acquisitions</strong>
    <br>
    <br>
    <img src="/graphics/Help/acquisitions.png" width="600" alt="Acquisitions">
    
    <br>
    <br>
    
    The "Acquisitions" section provides access to acquisition-related content. An acquisition may be opened by clicking it on-screen.  If more than one page of acquisition  is available, page navigation buttons for <b>First/Previous/Next/Last</b> will activate.  Alternatively, select from the pop-up list to see all available acquisitions in one list.

    <br>
    <br>
    
    Once an acquisition record is open, the detail page displays information about the acquisition itself, a list of all the objects related to the acquisition, and a list of all the artists related to the acquisition.  If there are Acquisition images available, they will also show on this page.
    
    <br>
    <br>
    
    <a name="artists"></a>
    <strong>Artists</strong>
    <br>
    <br>
    <img src="/graphics/Help/browseartist.png" width="600" alt="Browse Artist">
    
    <br>
    <br>
    
    The "Browse the Collections by Artist" page is a dynamic index of all artists related to the collection.  Choose a letter from the Alphabet Index to jump to that area of the page. When you click on a name, the objects associated with the artist will display.
    
    <br>
    <br>

	The results may be displayed in <a href="#Multiple">multiple views</a> and the results may also be narrowed with <a href="#Filtering">filtering</a>.
	
    <br>
    <br>
    
    <a name="geography"></a>
    <strong>Geography</strong>
    <br>
    <br>
    <img src="/graphics/Help/browsegeography.png" width="600"  alt="Browse Geography">
    
    <br>
    <br>
    
    The "Browse the Collections by Geography" page is a dynamic index of all creation locations related to the collection.  It typically pulls data from the <b>Region-Continent</b> field. When you click on a place name, the objects associated with the place will display.
    
    <br>
    <br>

	The results may be displayed in <a href="#Multiple">multiple views</a> and the results may also be narrowed with <a href="#Filtering">filtering</a>.
    
    <br>
    <br>

    <hr>
    <a name="Search"></a>
    <strong>Search</strong>
    <br>
    <br>
    Searching allows you to access records in the database on your own instead of through predetermined browsing options. Web Kiosk offers both a <b>Quick Search</b> (for objects) and an <b>Advanced Search</b> (fielded for all record types).  <br>
    <br>
    <blockquote>
        <strong>1. Quick Search</strong>
        <br>
        <br>
    
        The Quick Search box is displayed in the Top Menu bar where it says "Search the Collection". Simply enter one or more words in the box, then click the <strong>Search</strong> button. If matching objects are found, the results will be displayed as a set of records; if no results are found, a message is displayed stating this.
        <br>
        <i>TIP: Enter the beginning of a search word to retrieve more results, e.g. "Lib" instead of "Library".</i>

        <br>
        <br>
        <strong>2. Advanced Search</strong>
        <br>
        <br>
        The "Search" tab provides access to fielded search screens for any number of published record types. 
        <br>
        <br>
        <img src="/Graphics/Help/search.png" width="600" align="center" alt="Advanced Search">
        <br>
        <br>
The advanced search screens are configured to enable various options for optimal query of the collection.  Search fields may be:<br>
- Free text entry (such as Title). Enter a search value. The field may require an exact term or it may be automatically appended with a wild card to expand results<br>
- Pick list (such as Object Type). Click the popup to see available query terms matching catalogued term in the collection. Kiosk automatically reports how many available objects match that term.<br>
- Hierarchical pick list (such as Creation Place): This search field allows for grouped display of search values such that countries can be grouped by Region-Continent or States can be grouped by Country.<br>
- Historical date (such as Creation Date): Enter a "created on or after", "created on or before", or both to a limited date range.<br>
- System date (such as Legal Status Date):<br>
- Combo field: This type of search allows similar fields to be indexed and queried as a group--such as Display Title, Series Title, Object Name, and Full Title.<br>
- Quick Search: This is the same as the standard "Search the Collection" for objects (but can be combined with other query fields on this page).<br>

        <br>
        <br>

    </blockquote>


   <hr>
    <a name="Filtering"></a>
    <strong>Filtering</strong>
    <br>
    <br>
    
            <img src="/Graphics/Help/filtering.png" height="300" alt="Filtering">
    <br>
    <br>   
            
    Filtering provides an option to narrow the selection of objects by a number of pre-built search terms.  After loading a portfolio or displaying the results of an object search, a "Filter Results" box will display on the right side of the page.  Click this box to view the available search categories.  Click the category to view options (and see how many objects in the current selection are available for that term).  If no objects are available, the filter category is automatically hidden from display.<br>
    <br>
    <br>

    <hr>

    <a name="Multiple"></a>
    <strong>Multiple Record Display</strong>

    <blockquote>

        <img src="/Graphics/Help/multiplerecord.png" width="600" align="right" alt="Multiple Record View Options">
        <br>
        <br>
        The multiple record view is used to display the contents of a Portfolio, the results of a <a href="#search">Search</a>, <a href="#artist">Artists</a>, Exhibitions, Publications, Acquisition and more..
        <br>
        <br>
        The default display view is <strong>Portfolio</strong>. This view will display the records with the largest size thumbnail image.
        <br>
        <br>
        To see more records on screen at once, choose the option <strong>thumbnails</strong> view. This layout will display more thumbnail images and typically has an abbreviated text display.
        <br>
        <br>
        To view the most records at once, choose <strong>text list</strong>. The Text Only view will display content in a columnar format. Each of the underlined column headers may be clicked to sort the selection of records by that
        criteria (e.g., by Artist name, Date, or Medium). If text in the list of records is underlined (or in a different color), it can be clicked to link directly to more information on that item or to a biographical record of
        its maker.
        <br>
        <br>
        For any of the display views above, you may:
        <ul>
            <li>Click the NEXT or PREVIOUS buttons to scroll through additional records in the selection.
            <li>Select from the drop-down list at the top of the screen to jump to a specific position in the record set.
        </ul>

        If multiple records were accessed through a portfolio, the portfolio name and the number of records it includes are displayed at the top of the screen. Additionally, you may see a <img src="/graphics/portnotes.gif">
        graphic. Clicking this button will display a page of descriptive text associated with the portfolio. Click the back button on your web browser to return to the multiple record display.

    </blockquote>

    <hr>

    <a name="Single"></a>
    <strong>Single Record Display</strong>
    <br>
    <br>
    <blockquote>

        <strong>Description</strong>
        <br>
        <br>
        The Description page displays the most complete information about the object.
        <ul>
            <li>Click the Next and Previous buttons to navigate through the selection of records or select from the drop-down list.
            <li>Click the thumbnail image to view a <a href="#images">full image</a>.
            <li>Go to the Additional Images section to see more media linked to the record.
            <li>Click the artist name link to view additional biographical info about the maker.
            <li>Click other links to load related content such as Exhibitions, Bibliography, Acquisitions or other objects with the same Keyword term or Portfolio.
        </ul>
 <br>

    <hr>
        <a name="images"></a>
        <strong>Full Image</strong>
        <br>
        <br>
        <img src="/Graphics/Help/fullimage.png" height="250" alt="Full image view">
        <br>
        Any on-screen thumbnail image may be clicked to view a larger image of the object.
        <ul>
            <li>The image will load as an overlay over the main record display.
            <li>Click the Next and Previous buttons to navigate through the selection of records.
            <li>Click the "close" button to return to the main record.
        </ul>


    </blockquote>

    </div>
    %{Include footer.inc}%

</body>

</html>
