<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--Objects_1/Portfolio.htm-->
<html lang="en">

<head>
    <title>%{Include title.inc}% - %{Portfolio Name}%</title>
    %{Include head.inc}%
    %{Include scripts.inc}%
</head>

<body class="clearfix">
    %{Include nav.inc}%

    <div class="container"> <!-- title and navigation -->
        <div class="pageHeader">
            <!--#4DIF (lPortId # 0)-->     <!-- We're in a portfolio -->
                <h1>%{Portfolio Name}%</h1>
            <!--#4DELSE-->                 <!-- General record selection -->
                <h1>Browse the Collection</h1>
                <h2>%{Parent Record Name;Object Results}%</h2>
            <!--#4DENDIF-->
        </div>


            <div class="container">
             %{if([Portfolios]Notes!="")}%
                <img src="%{thumbnail}%" alt="Cover thumbnail for %{Portfolio Name}%" />
                %{if([Portfolios]Notes!="")}%
                    <span class="smalltxt">
                        <a href="%{Link;Portfolios;notes;Portfolio ID}%">View portfolio notes</a>&nbsp;&gt;
                    </span><br><br>
                %{end if}%
            </div>


        <div class="row">
            <div class="col col-sm col-md-5 col-lg-4 col-xl-4 mr-auto">
                <form id='popup' name='popup' method='get' action='%{Link;Objects_1;info;0;query=Current Selection;records=1}%'>
                    <input type='hidden' name='query' id='query' value='%{Current Selection}%' />
                    <select class="form-control" name='page' title='page' id='page' onchange='document.forms["popup"].submit()'>
                        <!--#4dloop [Objects_1]-->
                            <option value='<!--#4Dtext Selected Record number([objects_1])-->' <!--#4Dif (lFirstRec = Selected Record number([objects_1])) --> selected='selected' <!--#4Dendif-->>
                                <!--#4Dtext ([Objects_1]Disp_Title +" - " +[Objects_1]Disp_Maker_1)-->
                            </option>
                        <!--#4dendloop -->
                    </select>
                </form>
            </div>

            <div class="col col-sm col-md-4 col-lg-4 col-xl-4"> <!-- display options -->
                <div class="display-options" style="display:inline;">
                    <div claass="navtxt">
                        <a class="btn btn-default" href="%{Link;Objects_1;thumbnails;0;first=Current Record;query=Current Selection;records=20}%" aria-label="Go to Thumbnails view">
                            <i class="fa fa-th" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div claass="navtxt">
                        <a class="btn btn-primary" disabled="disabled" href="#" aria-label="Go to Portfolio view">
                            <i class="fa fa-th-large" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div claass="navtxt">
                        <a class="btn btn-default" href="%{Link;Objects_1;list;0;first=Current Record;query=Current Selection;records=25}%" aria-label="Stay on list view">
                            <i class="fa fa-th-list"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        %{Include pagenavigation.inc}%
    </div>

    <hr/>

    <div style="position: relative;">
        %{Include FilterBox.html}%

        <div class="container-fluid">
            <a name="main"></a>

            <!-- The following will repeat for each record in the page.-->
            <div class="row galleryGrid">
                <!--#4DEVAL (gsFunc_SetSelectedRecord(->[Objects_1]; gsFunc_GetCount("First Record")))-->  <!-- loads the first record -->
                <!--#4DEVAL $i:=gsFunc_GetCount("First Record")-->                          <!-- set temp counter for the loop -->

                <!--The following will be repeated for each record in the Object List.-->
                <!--#4DLOOP ($i <= gsFunc_GetCount("Last Record"))-->                       <!-- loop based on the temp counter -->
                    <!--#4DEVAL $i:=$i+1-->                                                 <!-- increment the temp counter -->
                    <div class="col">
                        <div class="card hoverOutline" style="width:300px; margin-bottom:10px;">
                            <div class="card-img-top text-center" style="max-width:300px;max-height:300px;">
                                <a href="<!--4Dtext gsFunc_Link("Objects_1;info;0;first=Current Record;query=Current Selection;records=1")-->"
                                    aria-label="Open description page for <!--#4Dtext [Objects_1]Disp_Title-->"
                                    title="Open object description">

                                    <!--#4Dif (gsFunc_HasImage(->[Objects_1]))-->
                                        <img src="<!--#4Dvar gsFunc_GetImage (->[Objects_1];"Preview Url")-->"
                                             height="<!--#4Dvar gsFunc_GetImage (->[Objects_1];"Proportional Height max 300")-->"
                                             width="<!--#4Dvar gsFunc_GetImage (->[Objects_1];"Proportional Width max 300")-->"
                                             alt="Image of <!--#4Dtext [Objects_1]Disp_Title-->" />
                                    <!--#4Delse-->
                                        <img src="/graphics/DefaultThumbnail.gif"
                                             alt="Thumbnail for missing image of <!--#4Dtext [Objects_1]Disp_Access_No-->" />
                                    <!--#4Dendif-->
                                </a>
                            </div>

                            <div class="card-body">
                                <!--#4Dif ([Objects_1]Disp_Title#"")-->
                                    <h5 class="card-title">
                                        <a class="noColor" href="<!--4Dtext gsFunc_Link("Objects_1;info;0;first=Current Record;query=Current Selection;records=1")-->"
                                            aria-label="Open description page for <!--#4Dtext [Objects_1]Disp_Title-->"
                                            title="Open object description">
                                            <em><!--#4Dtext [Objects_1]Disp_Title--></em>
                                        </a>
                                    </h5>
                                <!--#4Dendif-->

                                <p class="card-text small">
                                    <!--#4Dif ([Objects_1]Disp_Title#"")-->
                                        <a href="<!--4Dtext gsFunc_Link("Artist_Maker;info;[Objects_1]_Disp_Maker_ID;records=1")-->"
                                            aria-label="Open artist detail record for <!--#4Dtext [Objects_1]Disp_Maker_1--> linked to <!--#4Dtext [Objects_1]Disp_Title-->">
                                            <!--#4Dtext [Objects_1]Disp_Maker_1-->
                                        </a><br/>
                                    <!--#4Dendif-->

                                    <!--#4Dif ([Objects_1]Disp_Medium#"")-->
                                        <!--#4Dtext [Objects_1]Disp_Medium--><br/>
                                    <!--#4Dendif-->

                                    <!--#4Dif ([Objects_1]Display2#"")-->
                                        <!--#4Dtext [Objects_1]Display2--><br/>
                                    <!--#4Dendif-->

%{SKIP START}%
                                    <!--#4Dif gsFunc_IsLoggedIn-->
                                        <br>
                                        <span class="smalltxt">
                                            <a href="javascript:addToPort(,'',%{_ID}%);">Add to portfolio</a>&nbsp;&gt;
                                            %{if(Editing Portfolio)}%
                                                <br />
                                                &lt;&nbsp;<a href="%{RemoveFromPortfolio}%&display=POR">Remove from portfolio</a>
                                            %{end if}%
                                        </span>
                                    <!--#4Dendif-->
%{SKIP END}%
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--#4DEVAL NEXT RECORD([Objects_1])-->                                 <!-- load the next record -->
                <!--#4DENDLOOP-->
            </div>
        </div>
    </div>

    <div class="container">
        %{Include selectiondescription.inc}%
        %{Include view_selection_as.inc}%

        <br>
        %{Include formaddtoport.inc}%
        <br>
        <br>

        %{Include addobjtoportfolio.inc}%
    </div>

    %{Include footer.inc}%
</body>

</html>
