<!--
Displays a filter box for search results.

Relies on the ability to filter the current selection, so using the BACK button
   in the browser will break things.
-->

<style>
	#filterBox {
		background-color: #555;
		padding: 4px;
		border: 0;
		display: block;

		width: 35px;
		height: 200px;

		position: absolute;
		right: 0; top: 0;
		z-index: 10;
		cursor: pointer;
	}

	#filterBox:hover {
		background-color: transparent;
		width: 250px;
		background-color: none;
	}
	#filterBox #title {
		color: white;
		font-size: 16px;
		font-weight: bold;
		transform: rotate(90deg);
	}
	#filterBox:hover #title {
		padding: 3px;
		background-color: #555;
		font-size: 14px;
		transform:  rotate(0deg);
	}

</style>

<!--#4Dif true-->
<div id="filterBox">
	<div id="title">
		<!-- <img id="triangle" src="/graphics/carat-right.jpg"/>&nbsp; -->
		&nbsp;&nbsp;FILTER&nbsp;RESULTS
	</div>

	<div id="filterFields">
		<!--#4DSCRIPT/GetDistinctValues/[Objects_1]Disp_Maker_1/0/1-->
		<!--#4DIF (Size of array(atGDVValues)>1)-->
			<div class="list-group" style="margin-bottom: 3px;">
				<small>
					<div class="list-group-item" style="padding-left: 7px;">
						<h6 class="fieldName" id="artist">
							<img id="artistTriangleRight" src="/graphics/carat-right.jpg"/>
							<img id="artistTriangleDown" src="/graphics/carat-down.jpg" style="display:none;"/>
							by Artist
						</h6>
					</div>
					<div id="artistValues" style="display:none;">
						<!--#4DLOOP atGDVValues-->
							<a href="<!--4Dtext gsFunc_Link("Objects_1;list;0;query=Current Selection and Disp_Maker_1=%22"+atGDVValues{atGDVValues}+"%22;records=9-->"
							   		class="list-group-item" style="padding: 5px 5px;">
								<div class="d-flex w-100 justify-content-between">
							      <span class="mb-1">
									  &nbsp;
									  <!--#4Dif (atGDVValues{atGDVValues}#"" )-->
	  									<!--#4DTEXT atGDVValues{atGDVValues}-->
	  								<!--#4Delse-->
	  									<small><em class="disabled">{blank artist}</em></small>
	  								<!--#4Dendif-->
								  </span>
							      <small class="text-muted">
									  <span class="badge-pill badge-secondary text-right"><!--#4DTEXT alGDVCounts{atGDVValues}--></span>
								  </small>
							    </div>
						    </a>
						<!--#4DENDLOOP-->
					</div>
				</small>
			</div>
		<!--#4DENDIF-->

		<!--#4DSCRIPT/GetDistinctValues/[Objects_1]Century/0/1-->
		<!--#4DIF (Size of array(atGDVValues)>1)-->
			<div class="list-group" style="margin-bottom: 3px;">
				<small>
					<div class="list-group-item" style="padding-left: 7px;">
						<h6 class="fieldName" id="century">
							<img id="centuryTriangleRight" src="/graphics/carat-right.jpg"/>
							<img id="centuryTriangleDown" src="/graphics/carat-down.jpg" style="display:none;"/>
							by Century
						</h6>
					</div>
					<div id="centuryValues" style="display:none;">
						<!--#4DLOOP atGDVValues-->
							<a href="<!--4Dtext gsFunc_Link("Objects_1;list;0;query=Current Selection and Century=%22" + atGDVValues{atGDVValues} + "%22;records=9-->" class="list-group-item" style="padding: 5px 5px;">
								<div class="d-flex w-100 justify-content-between">
									<span class="mb-1">
										&nbsp;
										<!--#4Dif (atGDVValues{atGDVValues}#"" )-->
											<!--#4DTEXT atGDVValues{atGDVValues}-->
										<!--#4Delse-->
											<small><em class="disabled">{blank century}</em></small>
										<!--#4Dendif-->
									</span>
									<small class="text-muted">
										<span class="badge-pill badge-secondary text-right"><!--#4DTEXT alGDVCounts{atGDVValues}--></span>
									</small>
								</div>
						    </a>
						<!--#4DENDLOOP-->
					</div>
				</small>
			</div>
		<!--#4DENDIF-->

		<!--#4DSCRIPT/GetDistinctValues/[Objects_1]Creation_Place2/0/1-->
		<!--#4DIF (Size of array(atGDVValues)>1)-->
			<div class="list-group" style="margin-bottom: 3px;">
				<small>
					<div class="list-group-item" style="padding-left: 7px;">
						<h6 class="fieldName" id="country">
							<img id="countryTriangleRight" src="/graphics/carat-right.jpg"/>
							<img id="countryTriangleDown" src="/graphics/carat-down.jpg" style="display:none;"/>
							by Country
						</h6>
					</div>
					<div id="countryValues" style="display:none;">
						<!--#4DLOOP atGDVValues-->
							<a href="<!--4Dtext gsFunc_Link("Objects_1;list;0;query=Current Selection and Creation_Place2=%22" + atGDVValues{atGDVValues} + "%22;records=9-->" class="list-group-item" style="padding: 5px 5px;">
								<div class="d-flex w-100 justify-content-between">
									<span class="mb-1">
										&nbsp;
										<!--#4Dif (atGDVValues{atGDVValues}#"" )-->
											<!--#4DTEXT atGDVValues{atGDVValues}-->
										<!--#4Delse-->
											<small><em class="disabled">{blank country}</em></small>
										<!--#4Dendif-->
									</span>
									<small class="text-muted">
										<span class="badge-pill badge-secondary text-right"><!--#4DTEXT alGDVCounts{atGDVValues}--></span>
									</small>
								</div>
						    </a>
						<!--#4DENDLOOP-->
					</div>
				</small>
			</div>
		<!--#4DENDIF-->

		<!--#4DSCRIPT/GetDistinctValues/[Objects_1]Disp_Obj_Type/0/1-->
		<!--#4DIF (Size of array(atGDVValues)>1)-->
			<div class="list-group" style="margin-bottom: 3px;">
				<small>
					<div class="list-group-item" style="padding-left: 7px;">
						<h6 class="fieldName" id="objtype">
							<img id="objtypeTriangleRight" src="/graphics/carat-right.jpg"/>
							<img id="objtypeTriangleDown" src="/graphics/carat-down.jpg" style="display:none;"/>
							by Object Type
						</h6>
					</div>
					<div id="objtypeValues" style="display:none;">
						<!--#4DLOOP atGDVValues-->
							<a href="<!--4Dtext gsFunc_Link("Objects_1;list;0;query=Current Selection and Disp_Obj_Type=%22" + atGDVValues{atGDVValues} + "%22;records=9-->" class="list-group-item" style="padding: 5px 5px;">
								<div class="d-flex w-100 justify-content-between">
									<span class="mb-1">
										&nbsp;
										<!--#4Dif (atGDVValues{atGDVValues}#"" )-->
											<!--#4DTEXT atGDVValues{atGDVValues}-->
										<!--#4Delse-->
											<small><em class="disabled">{blank object type}</em></small>
										<!--#4Dendif-->
									</span>
									<small class="text-muted">
										<span class="badge-pill badge-secondary text-right"><!--#4DTEXT alGDVCounts{atGDVValues}--></span>
									</small>
								</div>
						    </a>
						<!--#4DENDLOOP-->
					</div>
				</small>
			</div>
		<!--#4DENDIF-->

		<!--#4DSCRIPT/GetDistinctValues/[Objects_1]Period/0/1-->
		<!--#4DIF (Size of array(atGDVValues)>1)-->
			<div class="list-group" style="margin-bottom: 3px;">
				<small>
					<div class="list-group-item" style="padding-left: 7px;">
						<h6 class="fieldName" id="period">
							<img id="periodTriangleRight" src="/graphics/carat-right.jpg"/>
							<img id="periodTriangleDown" src="/graphics/carat-down.jpg" style="display:none;"/>
							by Period
						</h6>
					</div>
					<div id="periodValues" style="display:none;">
						<!--#4DLOOP atGDVValues-->
							<a href="<!--4Dtext gsFunc_Link("Objects_1;list;0;query=Current Selection and Period=%22" + atGDVValues{atGDVValues} + "%22;records=9-->" class="list-group-item" style="padding: 5px 5px;">
								<div class="d-flex w-100 justify-content-between">
									<span class="mb-1">
										&nbsp;
										<!--#4Dif (atGDVValues{atGDVValues}#"" )-->
											<!--#4DTEXT atGDVValues{atGDVValues}-->
										<!--#4Delse-->
											<small><em class="disabled">{blank period}</em></small>
										<!--#4Dendif-->
									</span>
									<small class="text-muted">
										<span class="badge-pill badge-secondary text-right"><!--#4DTEXT alGDVCounts{atGDVValues}--></span>
									</small>
								</div>
						    </a>
						<!--#4DENDLOOP-->
					</div>
				</small>
			</div>
		<!--#4DENDIF-->

	</div>
</div>
<!--#4dendif-->
