<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--MultipleRecords/Portfolio.htm-->
<html>
<head>
    <title>{Include title.inc} - {Portfolio Name}</title>
    <link rel="stylesheet" type="text/css" href="/kioskstyles.css"/>
    {Include scripts.inc}
   {Include FilterBoxScripts.inc}
</head>
<body class="clearfix">
{Include header.inc}

{Include FilterBox.html}

<div id="content">

<div class="right">{Include activerecords.inc}</div>
<!--4DIF (lPortId # 0)--><!--We're in a portfolio--><h1>{Portfolio Name}</h1>
<!--4DELSE--><!--General record selection--><h1>Object Results</h1>
<!--4DENDIF-->

{if([Portfolios]Notes!="")}
	<span class="smalltxt"><a href="{Portfolio Note Link}">View portfolio notes</a>&nbsp;&gt;</span>
{end if}

{Include PageNavigation.inc}

<!-- display options start -->
<div class="display-options">
    <div class="smalltxt">View:</div>
    <div class="navtxt">
        <img src="/graphics/icon1.gif" width="12" height="12" alt=""/>
        <a href="/THU?rec={Current Record}&sid={SessionId}&x={Sequence}">thumbnails</a>
    </div>
    <div class="navtxt">
        <img src="/graphics/icon2.gif" width="12" height="12" alt=""/>
        <a href="/LST2?rec={Current Record}&sid={SessionId}&x={Sequence}">text list</a>
    </div>
    <div class="navtxt">
        <img src="/graphics/icon2b.gif" width="12" height="12" alt=""/>
        image &amp; label
    </div>
    <div class="navtxt">
        <img src="/graphics/icon3.gif" width="12" height="12" alt=""/>
        <a href="{Object Info}" onmouseover="self.status = 'Display Object Description';return true" onmouseout="self.status = '';return true" title="Display Object Description">description</a>
    </div>
</div>
<!-- display options end -->

{Popup;Object Info;<<[Objects_1]Disp_Title>> - <<[Objects_1]Disp_Maker_1>>}

<br><br>
<!-- The following will repeat for each record in the page.
     The kiosk will take care of inserting row tags as appropriate, if specified in Preferences. 
     (Note: This template is currently configured for a kiosk in which the table option has been turned off for Portfolio. -->

{RecordLoop Start}
<div class="portfolio-record-box">
	<div class="portfolio-thumbnail">{If(Has Image)}<a href="{Object Info}" onmouseover="self.status = 'Display Object Description';return true" 
		onmouseout="self.status = '';return true" title="Display Object Description"><img src="{thumbnail}" 
		height="{thumbnail height*.7}" width="{thumbnail width*.7}" alt=""/></a>{Else}<img src="/graphics/DefaultThumbnail.gif" alt=""/>{EndIf}
	</div>
	<div class="portfolio-label">
		{If([Objects_1]Disp_Title!="")}<a href="{Object Info}" onmouseover="self.status = 'Display Object Description';return true" onmouseout="self.status = '';return true" title="Display Object Description"><i>{[Objects_1]Disp_Title}</i></a><br/>{End If}
        {If([Objects_1]Disp_Maker_1!="")}<a href="{Artist Info}">{[Objects_1]Disp_Maker_1}</a><br/>{End If}
        {If([Objects_1]Disp_Medium!="")}{[Objects_1]Disp_Medium}<br/>{End If}
        {If([Objects_1]Display2!="")}{[Objects_1]Display2}<br/>{End If}
        {If(Logged In)}
        	<span class="smalltxt">
            	<a href="javascript:addToPort({SessionID},'&x={Sequence}',{_ID});">Add to portfolio</a>&nbsp;&gt;
                {if(Editing Portfolio)}<br/>
                	&lt;&nbsp;<a href="{RemoveFromPortfolio}&display=POR">Remove from portfolio</a>
                {end if}
        	</span>
        {End If}
    </div>
</div>
{RecordLoop End}

{If(Logged In)}
<br><br>
Download the current selection of images:<br>
	<a href="/{Portfolio Name}.zip?download=images&rec={Current Record}&sid={SessionId}&x={Sequence}">Full Images</a> |
	<a href="/{Portfolio Name}.zip?download=previews&rec={Current Record}&sid={SessionId}&x={Sequence}">Previews (300px)</a> |
	<a href="/{Portfolio Name}.zip?download=thumbnails&rec={Current Record}&sid={SessionId}&x={Sequence}">Thumbnails (128px)</a> 
{End If}	
					
<br><hr><br>View Current Selection of Records as: <ul>
<li><a href="results.html?sid={SessionId}&layout=cdwa&format=xml&maximumrecords=-1&recordType=objects_1&query=[Objects_1]_Objects_1_id within Current Selection" target=_blank>CDWA Lite XML</a>
<li><a href="results.html?sid={SessionId}&layout=lido&format=xml&maximumrecords=-1&recordType=objects_1&query=[Objects_1]_Objects_1_id within Current Selection" target=_blank>LIDO XML</a>
</ul>
<hr>
<br>

{Include formaddtoport.inc}

{Include selectiondescription.inc}
<br><br>
{Include addobjtoportfolio.inc}

</div>
{Include footer.inc}

</body>
</html>



