<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--Custom/zoomobject.htm-->
<html>
<head>
    <title>{Include title.inc}</title>
    <link rel="stylesheet" type="text/css" href="/zoomstyles.css"/>
    {Include scripts.inc}
</head>

<body class="clearfix">

<div class="right"><a href="javascript:showHelp('Zoomify');" title="help">How do I use Zoomify?</a></div>

<a href="{Object Info}" onmouseover="self.status = 'Display Object Description';return true" onmouseout="self.status = '';return true" title="Display Object Description">{[Objects_1]Disp_Title}</a><br/>
<i>(<a href="{Object Info}" onmouseover="self.status = 'Display Object Description';return true" onmouseout="self.status = '';return true" title="Display Object Description">Click to return to Description</a>)</i>

{Include pagenavigation.inc}

<center>
<div id="zoomify">
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" width="750" height="450" id="theMovie">
	<param name="FlashVars" value="zoomifyImagePath={Zoom;blank.gif;}">
	<param name="Menu" value="FALSE">
	<param name="src" value="zoomifyViewer.swf">
	<param name="bgcolor" value="#000000">
	<embed FlashVars="zoomifyImagePath={Zoom;blank.gif;}" src="zoomifyViewer.swf" menu="false" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" width="750" height="450" name="theMovie"></embed>
	</object>
	</div>
</center>

{Include footer.inc}

</body>
</html>
