<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--PortfolioNotes.htm-->
<html>
<head>
    <title>{Include title.inc}</title>
    <link rel="stylesheet" type="text/css" href="/kioskstyles.css"/>
    {Include scripts.inc}
</head>

<body class="clearfix">

{Include header.inc}
<div id="content">

<h1><a href="{Portfolio}">{[Portfolios]Port_Name}</a></h1>
&lt;&nbsp;<span class="smalltxt"><a href="{Portfolio}">browse objects</a></span>
<br/><br/>

{If(Has Image)}
    <img src="{Thumbnail}" vspace="15" hspace="15" align="left" alt=""/>
{End If}

{[Portfolios]Notes}

</div>
{Include footer.inc}

</body>
</html>
