<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--MultipleRecords/NoSelection.htm-->
<html lang="en">

<head>
    <title>%{Include title.inc}%</title>
    %{Include head.inc}%
    %{Include scripts.inc}%
</head>

<body class="clearfix">
    %{Include nav.inc}%
    
    <div id="head">

        <h1>No Records to Display</h1>

        You have made an invalRecordNum request. You have no records selected at this time. Please use a link in the left bar to begin browsing the site.
    </div>

    %{Include footer.inc}%
</body>

</html>
