<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--MultipleRecords/SearchResults/Artist.htm-->
<html>
<head>
    <title>{Include title.inc}</title>
    <link rel="stylesheet" type="text/css" href="/kioskstyles.css"/>
    {Include scripts.inc}
</head>

<body class="clearfix">

{Include header.inc}

<div id="content">

{Include activerecords.inc}
<h1>Artist Results</h1>

{Include pagenavigation.inc}

<!-- display options start -->
<div class="display-options">
    <div class="smalltxt">View:</div>
    <div class="navtxt">
        <img src="/graphics/icon2.gif" width="12" height="12" alt=""/>
        <a href="/LST1?rec={Current Record}&sid={SessionId}&x={Sequence}">text list</a>
    </div>
    <div class="navtxt">
        <img src="/graphics/icon3.gif" width="12" height="12" alt=""/>
        <a href="ART0?rec={Current Record}&sid={SessionId}&x={Sequence}">biography</a>
    </div>
</div>
<!-- display options end -->

{pagePopup;Artist Info}

<table cellpadding="0" cellspacing="0">

    <!-- The following will repeat for each record in the page. -->
    {RecordLoop Start}
        <tr height="10">
            <td colspan="3"> </td>
        </tr>

        <tr valign="top">
        {If(Has Image)}
            <td align="center" valign="middle"><br/>
                <a href="{Artist Info}"><img src="{Thumbnail}" height="{Thumbnail Height*.6}" alt=""/></a><br/>
            </td>
        {Else}
            <td align="center" valign="middle"><img src="/graphics/DefaultPostage.gif" alt=""/></td>
        {EndIf}

            <td width="10"> </td>

            <td valign="middle" align="left">
                <a href="{Artist Info}">{[Artist_Maker]Display_Name}</a><br/>
                {[Artist_Maker]Nat_Culture_L2}<br/>
                {[Artist_Maker]Disp_Maker_Life}<br/><br/>
            </td>
        </tr>
        <tr height="3"><td colspan="2"> </td></tr>
    {RecordLoop End}

</table>

<br/><br/>

<div class="selectionDesc">
{Include selectiondescription.inc}
</div>

</div>

{Include footer.inc}

</body>
</html>
